{% extends 'Usuario/base/base.html'%}

{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/usuario/login.css' %}">

{% endblock %}





{% block content %}

<div class="contenido">
    <div class="login-form">
        <h1>Login</h1>
        <form id="contact-form" method="POST">
            {% csrf_token %}
            {{ form }}

            <div class="bg-danger mt-1">{{ form.errors.password }}</div>

            {% if form.non_field_errors %}
            <div class="form-group">
                <div class="bg-danger mt-1 p-2">Login incorrecto!</div>
            </div>  
            {% endif %}
            
            {{form.non_field_errors}}
            
            <input type="submit" value="Ingresar">
            <a href="#">Olvidaste tu contraseña?</a><br>
            <a href="{% url 'usuario_form' %}">Registar</a>
        </form>
    </div>
</div>





{% endblock %}
