{% extends 'restaurante/base.html' %}

{% load static %}


{% block content %}

<aside class="lateral_menu1">
    <div class="menu_comida">

        <img src="{% static 'img/img_promocion/promocion_menu.png' %}" alt="menu_comida">

    </div>
</aside>

<aside class="lateral_menu2">
    <p> </p>
    <div class="boton_pedido">

        <a href="{% url 'pedido' %}" class="btn btn-lg btn-outline-light btn-block" role="button" aria-pressed="true">Realizar
            pedido</a>

    </div>
</aside>





{% endblock %}
